

{% extends "base.html" %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
            <h1 style="text-align: center">Welcome To The Meeting Planner</h1>
                <h4 style="text-align: center">Your Meetings at one place</h4>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h2 style="text-align: center">Available Meetings</h2>
            <div class="meetings">
                <ul>
                    {% for meet in meeting %}
                    <li>
                        <a href="{% url 'details' meet.id %}">
                            {{meet.title}}
                        </a>
                    </li>

                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'website/1.jpeg' %}" class="d-block w-100" alt="..." height="400px">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'website/2.jpeg' %}" class="d-block w-100" alt="..." height="400px">
                    </div>
                    <div class=" carousel-item">
                        <img src="{% static 'website/3.jpeg' %}" class="d-block w-100" alt="..." height="400px">
                    </div>
                </div>
        </div>
    </div>
</div>


<!--<div class="about">-->
<!--    <h3>Welcome to the Meeting Planner Web App</h3>-->
<!--</div>-->


{% endblock %}