{% extends 'base.html' %}

{% block title %}
    Status
{% endblock %}

{% block content %}


<div class="container-fluid" >
    <h1>Welcome To the meeting Planenr....!!</h1>

    <h3>There are {{meeting_count}} Meeting are Pending</h3>

    <p>Click <a href="#">here.!!</a> to check yours pending meetings</p>

    <h2>Meetings</h2>
    <ul>
        {% for meet in meeting %}
        <li>
            <a href="{% url 'details' meet.id %}">
                {{meet.title}}
            </a>
        </li>

        {% endfor %}
    </ul>

    <h3>To Check Rooms <a href="{% url 'rooms'%}">Click Here..</a></h3>
    <h3>To Create a New Meeting <a href="{% url 'form'%}">Click Here..</a></h3>

</div>

{% endblock %}