body {
    background-color: darkcyan;
}

footer{
    display: block;
}

.about{
    background-color: brown;
    height: 150px;
    width: 350px;
}

.meetings{
    display: flex;
    padding: 1px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: left;
    background-color: aliceblue;
    /*height: 180px;*/
    /*width: 350px;*/
}