{% extends "base.html" %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h1>Welcome To The Meeting Planner</h1>

            <h2 style="text-align: center">Available Meetings</h2>
<div class="meetings">
    <ul>
        {% for meet in meeting %}
        <li>
            <a href="{% url 'details' meet.id %}">
                {{meet.title}}
            </a>
        </li>

        {% endfor %}
    </ul>

</div>

        </div>


{% endblock %}