{% extends 'base.html' %}

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Meetings: {{meeting.title}}</title>-->
<!--</head>-->
<!--<body>-->
{% block title %} Meeting {% endblock %}

{% block content %}
<div class="container-fluid pradhyum">
        <h1>{{meeting.title}}</h1>

    <p>This meeting has been sheduled on {{meeting.date}} at {{meeting.start_time}} in
        <h3>{{meeting.room}}</h3>
    </p>


</div>
{% endblock %}
<!--</body>-->
<!--</html>-->